<a href="https://colab.research.google.com/github/liz096/tps-pii-colab/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
estudiantes = [
    {'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'},
    {'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'},
    {'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'},
    {'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'},
    {'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},
    {'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'},  # Repetido
    {'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'},
    {'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'},
    {'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'},
    {'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'},
    {'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},
    {'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'},  # Repetido
    {'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'},
    {'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'},
    {'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'},
    {'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'},
    {'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'},
    {'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'},
    {'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'},
    {'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'},
    {'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'},
    {'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'},
    {'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},
    {'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'},  # Repetido
    {'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'},
    {'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'},
    {'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'},
    {'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'},
    {'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'},
    {'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'},
    {'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'},
    {'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'},
    {'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'},
    {'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'},
    {'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'},
    {'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'},
    {'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},
    {'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'},  # Repetido
    {'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'},
    {'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'},
    {'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'},
    {'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'},
    {'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'},
    {'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'},
    {'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'},
    {'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'},
    {'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'},
    {'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'},
    {'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'},
    {'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'},
    {'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'},
    {'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'},
    {'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'},
    {'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'},
    {'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'},
    {'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}  # Repetido
]

In [2]:
# Spoiler de estructura que veremos en los siguientes TPs
import json
for estudiante in estudiantes:
  alumno_json = json.dumps(estudiante,indent=4,ensure_ascii=False)
  print(alumno_json,",")

{
    "name": "Abud Laspiur, Lourdes Mariel",
    "section": "C",
    "dob": "05/12/2006"
} ,
{
    "name": "Amador, Luana Micaela",
    "section": "C",
    "dob": "09/12/2006"
} ,
{
    "name": "Anaquin, Leonardo Ezequiel",
    "section": "C",
    "dob": "06/09/2005"
} ,
{
    "name": "Araoz Sanchez, Lautaro Nahuel",
    "section": "C",
    "dob": "28/12/2005"
} ,
{
    "name": "Argañaraz, Agostina Abril",
    "section": "C",
    "dob": "11/10/2006"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrera, Matias Ezequiel",
    "section": "C",
    "dob": "27/02/2007"
} ,
{
    "name": "Barrozo Vedia, Joaquin Nicolas",
    "section": "C",
    "dob": "15/04/2006"
} ,
{
    "name": "Bettinelli, Valentino",
    "section": "C",
    "dob": "12/07/2006"
} ,
{
    "name": "Bracamonte Martinez, Salvador",
    "section": "C",
    "dob": "02/11/2005"
} ,
{
    "name": "Colque Rivero, Ariana Zoe Del Valle",
    "section": "C",
    "dob": "27/12/2006"
} ,
{
    "name": "Diaz, Dulce Maitena",
    "section": "C",
    "dob": "11/12/2006"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Figueroa, Santino Josue",
    "section": "C",
    "dob": "12/05/2007"
} ,
{
    "name": "Flores Cardozo, Agustina Tiara",
    "section": "C",
    "dob": "18/03/2006"
} ,
{
    "name": "Gallo, Octavio Ismael",
    "section": "C",
    "dob": "04/08/2006"
} ,
{
    "name": "Galvan, Lourdes Yamila",
    "section": "C",
    "dob": "19/08/2005"
} ,
{
    "name": "Giangreco, Vitto Tomasso",
    "section": "C",
    "dob": "21/03/2007"
} ,
{
    "name": "Grancara, Martina Luna",
    "section": "C",
    "dob": "15/12/2006"
} ,
{
    "name": "Guanca, Sara Elizabeth",
    "section": "C",
    "dob": "17/01/2007"
} ,
{
    "name": "Lopez, Victoria Constanza",
    "section": "C",
    "dob": "12/11/2007"
} ,
{
    "name": "Mamani Garrido, Rosario Agostina",
    "section": "C",
    "dob": "24/10/2006"
} ,
{
    "name": "Marinaro, Martin Ezequiel",
    "section": "C",
    "dob": "03/11/2006"
} ,
{
    "name": "Merluzzi Dagum, Ignacio",
    "section": "C",
    "dob": "22/12/2005"
} ,
{
    "name": "Messina, Martina",
    "section": "C",
    "dob": "13/07/2005"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rasuk, Karim",
    "section": "C",
    "dob": "13/07/2007"
} ,
{
    "name": "Rios, Lucia Magali",
    "section": "C",
    "dob": "22/09/2006"
} ,
{
    "name": "Sanchez Flores, Matías Agustín",
    "section": "C",
    "dob": "15/02/2007"
} ,
{
    "name": "Scarano, Renato Marcelo",
    "section": "C",
    "dob": "06/12/2006"
} ,
{
    "name": "Sierra, Lucas Mauricio",
    "section": "C",
    "dob": "03/04/2005"
} ,
{
    "name": "Tapia, Martin Gabriel",
    "section": "C",
    "dob": "30/05/2006"
} ,
{
    "name": "Vilte, Mia Antonella Alondra",
    "section": "C",
    "dob": "10/09/2005"
} ,
{
    "name": "Virgillito, Katya Milena",
    "section": "C",
    "dob": "19/06/2007"
} ,
{
    "name": "Alurralde, Solange Stefania",
    "section": "D",
    "dob": "02/04/2007"
} ,
{
    "name": "Alvarado, Ludmila Del Milagro",
    "section": "D",
    "dob": "06/09/2006"
} ,
{
    "name": "Angel, Camila Juliana",
    "section": "D",
    "dob": "07/03/2007"
} ,
{
    "name": "Arenas, Lucas Gabriel",
    "section": "D",
    "dob": "26/06/2007"
} ,
{
    "name": "Caseres, Maria Antonia",
    "section": "D",
    "dob": "01/07/2006"
} ,
{
    "name": "Castillo, Paulina Milagros",
    "section": "D",
    "dob": "01/06/2007"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "Correa Segovia, Hugo Mariano",
    "section": "D",
    "dob": "04/12/2006"
} ,
{
    "name": "D Elia, Alvaro Tadeo",
    "section": "D",
    "dob": "27/08/2006"
} ,
{
    "name": "Flores, Victoria Agustina",
    "section": "D",
    "dob": "12/12/2006"
} ,
{
    "name": "Geronimo Soriano, Lizzie Amaya",
    "section": "D",
    "dob": "20/01/2007"
} ,
{
    "name": "Guzman, Angélica Morena",
    "section": "D",
    "dob": "11/04/2007"
} ,
{
    "name": "Guzman, Jazmin Esmeralda Belen",
    "section": "D",
    "dob": "31/07/2006"
} ,
{
    "name": "Jaime, Anita Maria Belen",
    "section": "D",
    "dob": "19/04/2007"
} ,
{
    "name": "Lacour Polo, Nazarena",
    "section": "D",
    "dob": "19/12/2005"
} ,
{
    "name": "Lascano Guanca, Marcelo Fabricio",
    "section": "D",
    "dob": "17/02/2006"
} ,
{
    "name": "Lezcano, Celia Morena",
    "section": "D",
    "dob": "01/07/2005"
} ,
{
    "name": "Martinez, Tomas Andres",
    "section": "D",
    "dob": "22/03/2007"
} ,
{
    "name": "Portella Valdivia, Pedro Francisco",
    "section": "D",
    "dob": "24/01/2007"
} ,
{
    "name": "Retamal Cisneros, Zacarias Josue",
    "section": "D",
    "dob": "24/02/2007"
} ,
{
    "name": "Rosales, Francisco Gabriel",
    "section": "D",
    "dob": "14/11/2006"
} ,
{
    "name": "Salem Barba, Mahia",
    "section": "D",
    "dob": "14/10/2005"
} ,
{
    "name": "Soto Camara, Agustin Ignacio",
    "section": "D",
    "dob": "07/11/2005"
} ,
{
    "name": "Villalba, Irina",
    "section": "D",
    "dob": "09/09/2006"
} ,
{
    "name": "Voltolini, Emanuel Tobias",
    "section": "D",
    "dob": "17/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,
{
    "name": "Zalazar, Santino Stefano",
    "section": "D",
    "dob": "30/09/2006"
} ,

## Dada la lista estudiantes:
> - Hacer una celda para resolver cada punto.
- El TP resuelto será revisado en tu repositorio, no es necesario que lo envíes, pero sí que lo pushees correctamente.
- En la nota inicial se contempla:
  - La incorporación de este documento a tu propio respositorio.
  - El pusheo de los cambios realizados.
  - La resolución de los ejercicios propuestos.

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

Para esto tener en cuenta que:
- Los conjuntos solo pueden almacenar datos inmutables.
- Los diccionarios son estructuras mutables.
- dict.items() devuelve una lista de tuplas.
- dict(tupla) genera un diccionario, donde el primer elemento de la tupla es la clave, y el segundo el valor. Ej:
  -
  ```python
  dict([("Alberto", 10), ("José", 7), ("Dario", 14), ("Ana", 8), ("Maria", 9), ("Emilia", 10)])

  va a generar el siguiente diccionario:

  ```python
  {'Alberto': 10, 'José': 7, 'Dario': 14, 'Ana': 8, 'Maria': 9, 'Emilia': 10}
  ```

In [3]:
lista_tuplas=[]
estudiantes_sin_repetidos=[]
for estudiante in estudiantes:
  tupla=tuple(estudiante.items())
  lista_tuplas.append(tupla)
conjunto_tuplas=set(lista_tuplas)
for estudiante in conjunto_tuplas:
  un_estudiante=dict(estudiante)
  estudiantes_sin_repetidos.append(un_estudiante)
for estudiante in estudiantes_sin_repetidos:
  print(estudiante)

{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [10]:
nombres_5C=set()
apellidos_5C=set()
nombres_5d=set()
apellidos_5d=set()
for estudiante in estudiantes:
  nombre_completo=estudiante["name"]
  apellido,nombre= nombre_completo.split(",")
  apellidos = apellido.split(" ")
  nombres = nombre.strip().split(" ")
  if estudiante["section"]=="C":
   for nombre in nombres:
      nombres_5C.add(nombre)
   for apellido in apellidos:
      apellidos_5C.add(apellido)
  else:
   for nombre in nombres:
     nombres_5d.add(nombre)
   for apellido in apellidos:
     apellidos_5d.add(apellido)
print(f"{nombres_5C=}")
print(f"{apellidos_5C=}")
print(f"{nombres_5d=}")
print(f"{apellidos_5d=}")

nombres_5C={'Valle', 'Agustina', 'Dulce', 'Mauricio', 'Sara', 'Maitena', 'Zoe', 'Victoria', 'Joaquin', 'Ezequiel', 'Magali', 'Ignacio', 'Agustín', 'Agostina', 'Santino', 'Renato', 'Martina', 'Del', 'Lourdes', 'Micaela', 'Marcelo', 'Abril', 'Karim', 'Ismael', 'Tiara', 'Salvador', 'Nicolas', 'Gabriel', 'Octavio', 'Josue', 'Constanza', 'Lucas', 'Antonella', 'Valentino', 'Yamila', 'Luna', 'Martin', 'Matías', 'Matias', 'Lautaro', 'Ariana', 'Alondra', 'Leonardo', 'Mia', 'Katya', 'Elizabeth', 'Luana', 'Lucia', 'Tomasso', 'Nahuel', 'Mariel', 'Vitto', 'Rosario', 'Milena'}
apellidos_5C={'Abud', 'Tapia', 'Vedia', 'Rasuk', 'Barrozo', 'Bettinelli', 'Vilte', 'Dagum', 'Diaz', 'Martinez', 'Messina', 'Giangreco', 'Rivero', 'Argañaraz', 'Figueroa', 'Rios', 'Anaquin', 'Grancara', 'Barrera', 'Merluzzi', 'Sanchez', 'Flores', 'Sierra', 'Marinaro', 'Cardozo', 'Laspiur', 'Guanca', 'Mamani', 'Araoz', 'Galvan', 'Scarano', 'Amador', 'Lopez', 'Garrido', 'Gallo', 'Bracamonte', 'Virgillito', 'Colque'}
nombres_5d={'Alvaro', 'Agustina', 'Jazmin', 'Hugo', 'Camila', 'Belen', 'Anita', 'Celia', 'Maria', 'Victoria', 'Stefano', 'Nazarena', 'Paulina', 'Milagro', 'Juliana', 'Agustin', 'Santino', 'Del', 'Marcelo', 'Fabricio', 'Tomas', 'Gabriel', 'Ludmila', 'Solange', 'Milagros', 'Stefania', 'Mahia', 'Zacarias', 'Francisco', 'Josue', 'Andres', 'Esmeralda', 'Pedro', 'Lucas', 'Morena', 'Amaya', 'Angélica', 'Irina', 'Emanuel', 'Tobias', 'Lizzie', 'Mariano', 'Tadeo', 'Ignacio', 'Antonia'}
apellidos_5d={'D', 'Rosales', 'Geronimo', 'Lezcano', 'Elia', 'Portella', 'Barba', 'Martinez', 'Alurralde', 'Zalazar', 'Soriano', 'Arenas', 'Villalba', 'Castillo', 'Soto', 'Salem', 'Alvarado', 'Caseres', 'Camara', 'Flores', 'Polo', 'Guzman', 'Correa', 'Guanca', 'Lacour', 'Jaime', 'Retamal', 'Segovia', 'Voltolini', 'Angel', 'Lascano', 'Cisneros', 'Valdivia'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [5]:
l_nombres_c=[]
for estudiante in estudiantes_sin_repetidos:
  nombre_completo=estudiante["name"]
  apellido,nombre= nombre_completo.split(",")
  nombres = nombre.split(" ")
  if estudiante["section"]=="C":
    for nombre in nombres:
      l_nombres_c.append(nombre)
for i in range(len(nombres)):
  nombres[i] = nombres[i].strip()
l_nombres_c.extend(nombres)
diccionario_onombres={}
for nombre in l_nombres_c:
   if nombre in diccionario_onombres.keys():
      diccionario_onombres[nombre]+=1
   else:
      diccionario_onombres[nombre]=1

for nombre,ocurrencia in diccionario_onombres.items():
   if ocurrencia==1:
      print(f"{nombre} es unico")

Sara es unico
Elizabeth es unico
Yamila es unico
Santino es unico
Josue es unico
Ariana es unico
Zoe es unico
Del es unico
Valle es unico
Mia es unico
Antonella es unico
Alondra es unico
Renato es unico
Marcelo es unico
Matías es unico
Agustín es unico
Mariel es unico
Lucia es unico
Magali es unico
Joaquin es unico
Nicolas es unico
Octavio es unico
Ismael es unico
Abril es unico
Lautaro es unico
Nahuel es unico
Katya es unico
Milena es unico
Rosario es unico
Luana es unico
Micaela es unico
Ignacio es unico
Dulce es unico
Maitena es unico
Luna es unico
Karim es unico
Lucas es unico
Mauricio es unico
Gabriel es unico
Matias es unico
Victoria es unico
Constanza es unico
Leonardo es unico
Salvador es unico
Agustina es unico
Tiara es unico
Valentino es unico

4. Muestra cuantos apellidos únicos hay en cada curso.

In [13]:
print(f"5D: {len(nombres_5d)}")
print(f"5C: {len(nombres_5C) }")

5D: 45
5C: 54

In [8]:
l_apellidos_c=[]
for estudiante in estudiantes_sin_repetidos:
  if estudiante["section"]=="D":
    nombre_completo=estudiante["name"]
    apellido,nombre= nombre_completo.split(",")
    apellidos = apellido.split(" ")
    l_apellidos_c.extend(apellidos)
for i in range(len(apellidos)):
  apellidos[i] = apellidos[i].strip()
l_apellidos_c.extend(apellidos)
diccionario_oapellidos={}
for apellido in l_apellidos_c:
   if apellido in diccionario_oapellidos.keys():
      diccionario_oapellidos[apellido]+=1
   else:
      diccionario_oapellidos[apellido]=1

for apellido,ocurrencia in diccionario_oapellidos.items():
   if ocurrencia==1:
      print(f"{apellido} es un apellido unico de 5_d")

Correa es un apellido unico de 5_d
Segovia es un apellido unico de 5_d
Lacour es un apellido unico de 5_d
Polo es un apellido unico de 5_d
Angel es un apellido unico de 5_d
Caseres es un apellido unico de 5_d
Lezcano es un apellido unico de 5_d
Alurralde es un apellido unico de 5_d
D es un apellido unico de 5_d
Elia es un apellido unico de 5_d
Villalba es un apellido unico de 5_d
Castillo es un apellido unico de 5_d
Salem es un apellido unico de 5_d
Barba es un apellido unico de 5_d
Jaime es un apellido unico de 5_d
Zalazar es un apellido unico de 5_d
Portella es un apellido unico de 5_d
Valdivia es un apellido unico de 5_d
Geronimo es un apellido unico de 5_d
Soriano es un apellido unico de 5_d
Retamal es un apellido unico de 5_d
Cisneros es un apellido unico de 5_d
Rosales es un apellido unico de 5_d
Arenas es un apellido unico de 5_d
Voltolini es un apellido unico de 5_d
Martinez es un apellido unico de 5_d
Alvarado es un apellido unico de 5_d
Flores es un apellido unico de 5_d
Lascano es un apellido unico de 5_d
Guanca es un apellido unico de 5_d

5. Mostrá los nombres que aparecen en ambos cursos

In [17]:
nombres_5 = set()
for nombre_d in nombres_5d:
  for nombre_c in nombres_5C:
    if nombre_d == nombre_c:
      nombres_5.add(nombre_d)
for nombre in nombres_5:
  print(nombre)

Gabriel
Lucas
Agustina
Josue
Santino
Ignacio
Del
Marcelo
Victoria

6. Mostrá los apellidos que se aparecen en ambos cursos

In [19]:
apellidos_5 = set()
for apellido_d in apellidos_5d:
  for apellido_c in apellidos_5C:
    if apellido_d == apellido_c:
      apellidos_5.add(apellido_d)
for apellido in apellidos_5:
  print(apellido)

Guanca
Flores
Martinez

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [21]:

nombres_5C_unicos = nombres_5C - nombres_5d
nombres_5D_unicos = nombres_5d - nombres_5C

print("Nombres de estudiantes de 5C que no existen en 5D:")
for nombre in nombres_5C_unicos:
  print(nombre)

print("\nNombres de estudiantes de 5D que no existen en 5C:")
for nombre in nombres_5D_unicos:
  print(nombre)

Nombres de estudiantes de 5C que no existen en 5D:
Valle
Dulce
Mauricio
Sara
Maitena
Zoe
Joaquin
Ezequiel
Magali
Agustín
Agostina
Renato
Martina
Lourdes
Micaela
Katya
Abril
Karim
Ismael
Tiara
Salvador
Nicolas
Octavio
Constanza
Antonella
Valentino
Yamila
Luna
Martin
Matías
Matias
Lautaro
Ariana
Alondra
Leonardo
Mia
Elizabeth
Luana
Lucia
Tomasso
Nahuel
Mariel
Vitto
Rosario
Milena

Nombres de estudiantes de 5D que no existen en 5C:
Alvaro
Jazmin
Hugo
Belen
Camila
Celia
Anita
Maria
Stefano
Nazarena
Paulina
Milagro
Juliana
Agustin
Tomas
Fabricio
Ludmila
Solange
Milagros
Stefania
Mahia
Zacarias
Francisco
Andres
Esmeralda
Pedro
Morena
Amaya
Angélica
Irina
Emanuel
Tobias
Lizzie
Mariano
Tadeo
Antonia

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [22]:

apellidos_5C_unicos = apellidos_5C - apellidos_5d
apellidos_5D_unicos = apellidos_5d - apellidos_5C

print("Apellidos de estudiantes de 5C que no existen en 5D:")
for apellido in apellidos_5C_unicos:
  print(apellido)

print("\nApellidos de estudiantes de 5D que no existen en 5C:")
for apellido in apellidos_5D_unicos:
  print(apellido)

Apellidos de estudiantes de 5C que no existen en 5D:
Tapia
Abud
Vedia
Rasuk
Barrozo
Bettinelli
Vilte
Dagum
Diaz
Messina
Giangreco
Rivero
Argañaraz
Figueroa
Rios
Anaquin
Grancara
Barrera
Merluzzi
Sanchez
Sierra
Marinaro
Cardozo
Laspiur
Mamani
Araoz
Galvan
Scarano
Amador
Lopez
Garrido
Gallo
Bracamonte
Virgillito
Colque

Apellidos de estudiantes de 5D que no existen en 5C:
D
Rosales
Geronimo
Lezcano
Elia
Portella
Barba
Alurralde
Zalazar
Soriano
Arenas
Villalba
Castillo
Soto
Salem
Alvarado
Caseres
Camara
Polo
Guzman
Correa
Lacour
Jaime
Retamal
Segovia
Voltolini
Angel
Lascano
Cisneros
Valdivia

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [29]:

todos_los_nombres = nombres_5C | nombres_5d
nombres_en_ambos_cursos = nombres_5C & nombres_5d

nombres_unicos = todos_los_nombres - nombres_en_ambos_cursos

print("Todos los nombres, menos aquellos que existen en ambos cursos:")
for nombre in nombres_unicos:
  print(nombre)

Todos los nombres, menos aquellos que existen en ambos cursos:
Valle
Sara
Camila
Belen
Nazarena
Joaquin
Paulina
Magali
Milagro
Agustín
Renato
Martina
Micaela
Tomas
Abril
Karim
Nicolas
Stefania
Mahia
Zacarias
Francisco
Constanza
Pedro
Antonella
Yamila
Luna
Matias
Lautaro
Ariana
Mia
Elizabeth
Luana
Lucia
Tomasso
Lizzie
Mariel
Vitto
Rosario
Alvaro
Jazmin
Dulce
Mauricio
Hugo
Maitena
Anita
Celia
Maria
Zoe
Stefano
Ezequiel
Mariano
Juliana
Agustin
Agostina
Lourdes
Katya
Fabricio
Ludmila
Ismael
Tiara
Salvador
Solange
Milagros
Octavio
Andres
Esmeralda
Morena
Valentino
Amaya
Angélica
Irina
Matías
Martin
Alondra
Leonardo
Emanuel
Tobias
Nahuel
Tadeo
Antonia
Milena

10. elimina tu nombre del conjunto al que pertenece

In [30]:
nombree=input("Ingrese su nombre: ")
for estudiante in estudiantes_sin_repetidos:
  if nombree in estudiante['name']:
    estudiantes_sin_repetidos.remove(estudiante)
for estudiante in estudiantes_sin_repetidos:
  print(estudiante)

Ingrese su nombre: lizzie
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}

In [31]:
estudiantes_5C=set()
estudiantes_5D=set()
for estudiante in estudiantes_sin_repetidos:
  nomb_c=estudiante["name"]
  if estudiante['section']=="C":
    estudiantes_5C.add(nomb_c)
  else:
    estudiantes_5D.add(nomb_c)

nombr=input("Ingrese el nombre ha eliminar: ").title()
nombr=nombr+" "
curso=input("Ingrese a que curso pertenece: ").lower()
if curso == "c":
  for estudiante in estudiantes_5C:
      if nombr in estudiante:
        estudiantes_5C.discard(estudiante)
        print(f"Ha eliminado a {estudiante}")
        break
  for estudiante in estudiantes_5C:
    print(estudiante)
elif curso == "d":
   for estudiante in estudiantes_5D:
      if nombr in estudiante:
        estudiantes_5D.discard(estudiante)
        print(f"Ha eliminado a {estudiante}")
        break
   for estudiante in estudiantes_5D:
     print(estudiante)
else:
  print("Opción invalida")
  nombr=input("Ingrese el nombre ha eliminar: ").title()
  curso=input("Ingrese a que curso pertenece: ").lower()

Ingrese el nombre ha eliminar: lizzie
Ingrese a que curso pertenece: 5d
Opción invalida
Ingrese el nombre ha eliminar: lizzie
Ingrese a que curso pertenece: 5d

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [ ]:
nom=input("Ingrese su nombre: ")
ape=input("Ingrese su apellido: ")
curso=input("Ingrese a que curso pertenece: ").lower()
nombre_compelto=ape+", "+nom
if curso == "c":
  estudiantes_5C.add(nombre_compelto.title())
  for estudiante in estudiantes_5C:
    print(estudiante)
elif curso == "d":
  estudiantes_5D.add(nombre_compelto.title())
  for estudiante in estudiantes_5D:
    print(estudiante)
else:
  print("Opción invalida")
  curso=input("Ingrese a que curso pertenece: ").lower()

Ingrese su nombre: mariano bautista
Ingrese su apellido: cuevas
Ingrese a que curso pertenece: d
Jaime, Anita Maria Belen
Alurralde, Solange Stefania
Zalazar, Santino Stefano
Flores, Victoria Agustina
D Elia, Alvaro Tadeo
Portella Valdivia, Pedro Francisco
Villalba, Irina
Voltolini, Emanuel Tobias
Lascano Guanca, Marcelo Fabricio
Lacour Polo, Nazarena
Retamal Cisneros, Zacarias Josue
Arenas, Lucas Gabriel
Correa Segovia, Hugo Mariano
Martinez, Tomas Andres
Angel, Camila Juliana
Cuevas, Mariano Bautista
Castillo, Paulina Milagros
Salem Barba, Mahia
Grancara, Martina Luna
Guzman, Jazmin Esmeralda Belen
Rosales, Francisco Gabriel
Soto Camara, Agustin Ignacio
Caseres, Maria Antonia
Alvarado, Ludmila Del Milagro
Guzman, Angélica Morena
Geronimo Soriano, Lizzie Amaya
Lezcano, Celia Morena

12. Solicita un nombre y verifica si este existe en el diccionario

In [32]:
nomb=input("Ingrese el nombre del estudiante que desea buscar: ").title()
nomb=nomb+" "
existe=False
for estudiante in estudiantes_sin_repetidos:
  if nomb in estudiante["name"]:
    print(f"El estudiante {nomb} si existe")
    print(estudiante)
    existe=True

if existe==False:
    print(f"El estudiante {nomb} no existe")

Ingrese el nombre del estudiante que desea buscar: lizzie
El estudiante Lizzie   no existe